nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarTogglerDemo01.collapse.navbar-collapse
      a.navbar-brand(href='#')
        img(src="assets/images/logo.png" height="50px" alt="logo Score Cup")
      ul.navbar-nav.ml-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Organier
          .dropdown-menu(aria-labelledby="dropdownMenuLink")
            a.dropdown-item(href='creer_stade.html') Creer un stade
            a.dropdown-item(href='organiser_match.html') Organiser un match
            a.dropdown-item(href='inviter_ami.html') Inviter amis
            .dropdown-divider
            a.dropdown-item(href='rejoindre_match.html') Join
        li.nav-item
          a.nav-link(href='#') Contact
