section#movies.movies
    .row
        .col-lg-3.col-md-4.col-sm-6
            article.card
                header.title-header
                    h3 Stade Title
                .card-block
                    .img-card
                        img.w-100(src='https://unsplash.it/300/250?image=25', alt='Movie')
                    p.tagline.p-2.card-text.text-xs-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    a.btn.btn-primary.btn-block(href='#')
                        i.fa.fa-eye
                        |  Watch Now
        .col-lg-3.col-md-4.col-sm-6
            article.card
                header.title-header
                    h3 Stade Title
                .card-block
                    .img-card
                        img.w-100(src='https://unsplash.it/300/250?image=10', alt='Movie')
                    p.tagline.p-2.card-text.text-xs-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    a.btn.btn-primary.btn-block(href='#')
                        i.fa.fa-eye
                        |  Watch Now
        .col-lg-3.col-md-4.col-sm-6
            article.card
                header.title-header
                    h3 Stade Title
                .card-block
                    .img-card
                        img.w-100(src='https://unsplash.it/300/250?image=30', alt='Movie')
                    p.tagline.p-2.card-text.text-xs-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    a.btn.btn-primary.btn-block(href='#')
                        i.fa.fa-eye
                        |  Watch Now
        .col-lg-3.col-md-4.col-sm-6
            article.card
                header.title-header
                    h3 Stade Title
                .card-block
                    .img-card
                        img.w-100(src='https://unsplash.it/300/250?image=42', alt='Movie', title='Movie')
                    p.tagline.p-2.card-text.text-xs-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    a.btn.btn-primary.btn-block(href='#')
                        i.fa.fa-eye
                        |  Watch Now
