include ../../mixins/_slideShow
+carousel_animate("sc_carousel",[
  {"cls":"active","id":"#sc_carousel","order":"0" },
  {"id":"#sc_carousel","order":"1" },
  {"id":"#sc_carousel","order":"2" }],[
    { 
      "src":"https://images.pexels.com/photos/168872/pexels-photo-168872.jpeg?w=960&h=650&auto=compress&cs=tinysrgb", 
      "active":"active",
      "alt":"",
      "captionCls":"slide_style_left",
      "captionAnimation":"animated slideInLeft",
      "animationTitle":"animated fadeInDown",
      "titleText":"Titre", 
      "contentText":"Contenu",
      "contentTextAnimation":"animated fadeInDown",
      "btnHref":"#",
      "btnCls":"btn btn-outline-primary",
      "btnAnimation":"animated fadeInRight",
      "btnText":"Plus"
    },

    {
      "src":"https://images.pexels.com/photos/240832/pexels-photo-240832.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
      "active":"",
      "alt":"",
      "captionCls":"",
      "captionAnimation":"animated slideInLeft",
      "animationTitle":"animated fadeInDown",
      "titleText":"Titre2",
      "contentText":"Contenu2",
      "contentTextAnimation":"animated fadeInDown",
      "btnHref":"#",
      "btnCls":"btn btn-outline-primary",
      "btnAnimation":"animated fadeInUp",
      "btnText":"Plus"
    },
    {
      "src":"https://static.pexels.com/photos/592940/pexels-photo-592940.jpeg",
      "active":"",
      "alt":"",
      "captionCls":"slide_style_Right",
      "captionAnimation":"animated slideInLeft",
      "animationTitle":"animated fadeInDown",
      "titleText":"Titre 1",
      "contentText":"Contenu 1",
      "contentTextAnimation":"animated fadeInDown",
      "btnHref":"#",
      "btnCls":"btn btn-outline-primary",
      "btnAnimation":"animated fadeInLeft",
      "btnText":"Plus"
    }

  
  
  ]
  )
