include ../../mixins/cards
.row
    +sc_stadium([
        {
            "imgCard":"http://lorempicsum.com/rio/850/850/2",
            "headingCard": "Titre 1",
            "responciveCls":"col col-md-4",
            "colorCls":"primary",
            "descriptionCard": "Description de la carte"
        },
        {
            "imgCard": "http://lorempicsum.com/up/850/850/2",
            "headingCard": "Titre 1",
            "responciveCls":"col col-md-4",
            "colorCls":"accent",
            "descriptionCard": "Description de la carte"
        },
        {
            "imgCard": "https://unsplash.it/300/300?image=0",
            "headingCard": "Titre 1",
            "responciveCls":"col col-md-4",
            "colorCls":"danger",
            "descriptionCard": "Description de la carte Description de la carte "
        }
    ])